@mixin socialmenu(){

  li{
    position: relative;
    padding-left: 20px;
    &:before{
      content: "\f0c0";
      position: absolute;
      left: 0;
      top: 6px;
      font-size: 20px;
      @include font-awesome();
    }
    &.twitter{
      &:before{
        content: "\f099";
      }
    }
    &.facebook{
      &:before{
        content: "\f09a";
      }
    }
    &.google{
      &:before{
        content: "\f2b3";
      }
    }
    &.linkedin{
      &:before{
        content: "\f08c";
      }
    }
  }

}

.site-footer{
  background: $grey5;
  width: 100%;
  .footer-container{
    @include width-center(1400px, 130px 40px 20px);
    .f-top{
      @include flex(flex, row, nowrap, ai_start, jc_start);
      .ft-logo{
        width: 22%;
        img{
          width: 100%;
          max-width: 175px;
        }
      }
      .ft-menu-wrapper{
        width: 78%;
        margin: 0 -40px;
        @include flex(flex, row, wrap, ai_start, jc_start);
        .menu-container{
          padding: 0 40px;
          width: 32%;
          margin-bottom: 60px;
          .f-menu{
            h6{
              @include font(15px);
              margin-bottom: 12px;
              font-weight: 800;
            }
            ul.menu{
              li{
                margin-bottom: 5px;
                a{
                  @include font(15px);
                  @include transition();
                  &:hover{
                    color: $red;
                  }
                }
              }

              &#menu-footer-follow-us{

              }
            }
            &:nth-child(2){
              margin-top: 40px;
            }
          }
          &:nth-child(3){
            width: 36%;
          }
          &:nth-child(6){
          }
        }
      }

    }

    .f-bottom{
      .fb-wrapper{
        @include flex(flex, row, nowrap, ai_start, jc_start);
        .footer-main-menu{
          width: calc(100% - 100px);
          padding-top: 65px;
          position: relative;
          @include flex(flex, row, nowrap, ai_center, jc_start);
          p.grey{
            color: $grey2;
            margin-right: 22px;
            @include font(15px);
          }
          ul{
            @include flex(flex, row, nowrap, ai_start, jc_start);
            li{
              margin-right: 22px;
              line-height:22px;
            }
            a{
              @include font(15px);
              @include transition();
              &:hover{
                color: $red;
              }
            }
          }
          &:before{
            content: '';
            position : absolute;
            width : 100%;
            height : 1px;
            top : 30px;
            left: 0px;
            background: $grey6;
          }
        }
        .fb-logo{
          padding-left: 10px;
        }
      }
    }

  }

  &.tablet-footer,
  &.mobile-footer{
    display: none;
  }
}



@media screen and (max-width: $responsive-1366){

  .site-footer {
    .footer-container {
      @include width-center(1220px, 110px 40px 20px);
      .f-top {
        .ft-logo {
          img{
            max-width: 150px;
          }
        }

        .ft-menu-wrapper {
          .menu-container {
            .f-menu {
              h6{
              }
              ul.menu {
                li {
                  a{
                    @include font(13px, -2px);
                  }
                }
              }
            }
          }
        }

      }

      .f-bottom {
        .fb-wrapper {
          .footer-main-menu {
            p.grey{

            }
          }
        }
      }

    }
  }


}



@media screen and (max-width: $responsive-1024){

  .site-footer{
    &.desktop-footer{
      display: none;
    }
    &.tablet-footer{
      display: block;
    }

    &.tablet-footer{
      .footer-container{
        .tablet-footer-wrapper{
          @include flex(flex, row, wrap, ai_center, jc_start);

          .left-logo{
            width: 110px;
            img{
              max-width: 100%;
            }
          }
          .right-logo{
            width: 47px;
            img{
              max-width: 100%;
            }
          }

          .center-menu-container{
            padding: 0 50px;
            width: calc(100% - 165px);
            ul.menu{
              @include flex(flex, row, wrap, ai_center, jc_start);
            }

            .footer-main-menu{
              @include flex(flex, row, wrap, ai_center, jc_start);
            }

            #menu-footer-follow-us-1{
              @include socialmenu();
              margin-bottom: 15px;
              li{
                //padding: 0 30px 0 0;
                width: 25px;
                height: 25px;
                margin-right: 15px;
                position: relative;
                overflow: hidden;
                a{
                  position: absolute;
                  @include posa();
                  opacity: 0;
                }
              }
            }
            .footer-main-menu{
              .grey{
                margin-right: 15px;
                color: #4f4f4f;
              }
              .menu{
                li{
                  margin-right: 15px;
                  line-height: 15px;
                }
              }
            }
          }

        }
      }
    }
  }

}



@media screen and (max-width: $responsive-768){

  .site-footer{
    &.tablet-footer {
      .footer-container {
        padding: 40px 40px 20px;
        .tablet-footer-wrapper {
          @include flex(flex, row, wrap, ai_center, jc_space_between);
          .center-menu-container {
            width: 100%;
            padding: 0px;
            order:3;
            margin-top: -60px;
            .f-menu{
              margin-bottom: 50px;
              #menu-footer-follow-us-1{
                @include flex(flex, row, wrap, ai_center, jc_center);
              }
            }
            .footer-main-menu{
              @include flex(flex, row, wrap, ai_center, jc_center);
            }
          }
          .left-logo{

          }
          .right-logo{
            width: 50px;
          }
        }
      }
    }
  }

}





@media screen and (max-width: $responsive-650){

  .site-footer{
    &.tablet-footer {
      .footer-container {
        .tablet-footer-wrapper {
          @include flex(flex, row, wrap, ai_center, jc_center);
          .center-menu-container {
            margin-top: 20px;
            .f-menu{
              margin-bottom: 20px;
              #menu-footer-follow-us-1{
                //@include flex(flex, row, wrap, ai_center, jc_center);
              }
            }
            .footer-main-menu{
              //@include flex(flex, row, wrap, ai_center, jc_center);
            }
          }
          .left-logo{
            //margin: 0 20px;
            margin-right: 70px;
          }
          .right-logo{
            img{
              margin-left: -20px;
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-480){

  .site-footer.tablet-footer {
    .footer-container {
      padding: 40px 10px 20px;
      .tablet-footer-wrapper {
        .center-menu-container {
          .footer-main-menu {
            .grey{
              @include font(13px);
            }
          }
          ul.menu{
            a{
              @include font(13px);
            }
          }

        }
      }
    }
  }
}