form,
.form {
  & input,
  & select,
  & textarea {
    padding: 14px 20px;
    border: 1px solid $grey1;
    font-size: 16px;
    font-weight: 300;
    color: $black;
    width: 100%;
    &:not([type="submit"]):not(.demi) {
      //width: 100%;
    }
    &:focus {
      outline: none;
    }
    &:-moz-placeholder, /* For Mozilla Firefox 4 to 18 */
    &::-moz-placeholder, /* For Mozilla Firefox 19+ */
    &:-ms-input-placeholder, /* For Internet Explorer 10+ */
    &::-webkit-input-placeholder { /* For WebKit browsers */
      font-size: 16px;
      font-weight: 300;
      color: $black;
    }
  }
  & textarea {
    resize: vertical;
    min-height: 200px;
  }
  & .input-wrapper,
  & .select-wrapper,
  & .button-wrapper {
    & label {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
    & + .input-wrapper,
    & + .select-wrapper,
    & + .button-wrapper {
      margin-top: 20px;
    }
  }
  & .button-wrapper {
    & .button {
      cursor: pointer;
      display: block;
      margin: 20px auto 0;
      &.black{
        background-color: $black;
        color: $white;
      }

    }
  }

  & .select-wrapper{
    position: relative;
    select{
      -webkit-appearance: none;
      background-color: white;
      border-radius: 0;
      cursor: pointer;
    }
    &:after{
      content: "\f0d7" ;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: inline-block;
      position: absolute;
      z-index: 5;
      top: 48px;
      right: 15px;
    }
  }


}
