
//****************************************************
//**********  Header/Para/Other Elemet Tag  **********
//****************************************************

ul,li{
  //list-style: none;
  a{
    color: $grey2;
  }
}

a{
  color: $red;
  text-decoration: none;
}

p,a{
  @include font(16px,12px);
  font-weight:500;
  @media screen and (max-width: $responsive-1024){
    @include font(14px, 8px);
  }
}


strong,b{
  font-weight: 700;
}

h1,h2,h3,h4,h5,h6{
  @include font-montserrat();
  font-weight:600;
}

h1{
  @include font(40px, 0px);
  @media screen and (max-width: $responsive-1366){
    @include font(36px, 0px);
  }
  @media screen and (max-width: $responsive-1024){
    @include font(28px, 0px);
  }
  @media screen and (max-width: $responsive-760){
    @include font(22px, 0px);
  }
}

h2{
  font-weight:700;
  @include font(36px, 4px);
  @media screen and (max-width: $responsive-1366){
    @include font(32px, 4px);
  }
  @media screen and (max-width: $responsive-1024){
    @include font(26px, 4px);
  }
  @media screen and (max-width: $responsive-760){
    @include font(22px, 4px);
  }
  @media screen and (max-width: $responsive-480){
    @include font(18px, 4px);
  }
}


h3{
  @include font(32px, 0px);
  @media screen and (max-width: $responsive-1366){
    @include font(30px, 0px);
  }

}


h4,h5{
  @include font(28px, 0px);
}

h6{
  @include font-lato();
  @include font(22px, 0px);
  @media screen and (max-width: $responsive-1366){
    @include font(20px, 4px);
  }
  @media screen and (max-width: $responsive-1024){
    @include font(18px, 4px);
  }
}


ul.menu{
  list-style: none;
}



.alignright{
  float: right;
  margin: 0.5em 1em 0.5em 0;
  @media screen and (max-width: $responsive-480){
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
}

.alignleft{
  float: left;
  margin: 0.5em 1em 0.5em 0;
  @media screen and (max-width: $responsive-480){
    float: none;
    display: block;
    margin: 0 auto 10px auto;
  }
}








//***************************************************
//**********        Common Banner          **********
//***************************************************

.common-banner-page {
  width: 100%;
  @include bg-cover();
  height: 400px;
  margin-bottom: 10px;
  position: relative;

  .common-banner-gradient{
    @include active-overlay();
    background-color: $red-rbg;
    opacity: 0.75;
  }

  .info-content{
    padding-left: 5.2vw;
    height: 100%;
    @include flex(flex, row, nowrap,ai_center);
    h1{
      color: $white;
    }
  }
}


@media screen and (max-width: $responsive-1024){
  .common-banner-page {
    height: 320px;
  }
}
@media screen and (max-width: $responsive-760){
  .common-banner-page {
    height: 280px;
  }
}



.entry-content,
.entry-summary {
  @include width-center(1600px, 100px 90px 100px);

  @media screen and (max-width: $responsive-1024){
    @include width-center(1600px, 80px 60px 80px);
  }

}





  //Common slick CSS
  ul.slick-dots {
    bottom: -35px;
    li {
      button{
        &:before{
          font-size: 50px;
        }
      }
    }
  }



    //Google map default style - Hide
  .gmnoprint,
  .gmnoscreen,
  .gm-style-cc,
  img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
    display: none;
  }
