
.header-fixed-background{
  height: 137px;
  width: 100%;
  background-color: $white;
}

header.site-header {
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  @include transition();
  .header-wrap{
    @include flex(flex, row, nowrap, ai_center, jc_space_between);
    padding:  15px 40px;
    .top-left{
      @include flex(flex, row, nowrap, ai_center, jc_start);
      .logo{  }

      nav.header-menu{
        margin-left: 80px;
        ul.menu{
          @include flex(flex, row, nowrap, ai_center, jc_start);
          position: relative;

          a{
            @include transition();
            position: relative;
            color: $grey2;
            font-size: 14px;
            text-transform: uppercase;
            font-weight:600;
          }

          > li{
            position: relative;
            padding:  18px;
            &:hover{
              >  a{
                color: $red;
                &:after{
                  width: 100%;
                }
              }
              .sub-menu{
                height: auto;
                opacity: 1;
              }
            }

            > a{
              &:after{
                @include hover-underline();
              }
            }

            .sub-menu{
              @include transition();
              position: absolute;
              top: 100%;
              left: 0px;
              height: 0px;
              overflow: hidden;
              background-color: $white;
              width: 400px;
              opacity: 0;
              li{
                padding: 10px 20px 10px 30px;
                a{
                  @include transition();
                  &:hover{
                    color: $red;
                  }
                }
                &:first-child{
                  padding-top: 60px;
                }
                &:last-child{
                  padding-bottom: 30px;
                }
              }
            }

          }
        }
      }


    }
    .top-right{

      .navbars{
          display: none;
      }

      .header-phone{
        text-align: center;
        .hp-top{
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 700;
        }
        .hp-bottom{
          @include flex(flex, row, nowrap, ai_center, jc_center);
          .hpb-icon{
            i{
              font-size: 28px;
              font-weight: 700;
              position: relative;
              top:5px;
            }
          }
          .hpb-phone{
            padding-left: 12px;
            color: $red;
            font-size: 28px;
            font-weight: 800;
          }
        }
      }


    }
  }

}


@media screen and (max-width: $responsive-1580){
  .header-fixed-background{
    height: 110px;
  }

  header.site-header {
    .header-wrap {
      .top-left {
        .logo{
          img{
            max-width: 130px;
          }
        }
        nav{
          &.header-menu{
            margin-left: 54px;

            ul.menu > {
              li {
                .sub-menu {
                  li:first-child{
                    padding-top: 40px;
                  }
                }
              }
            }

          }
        }
      }
    }
  }

  //header.site-header {
  //  .header-wrap {
  //    .top-right {
  //      .navbars{
  //        padding: 42px;
  //      }
  //    }
  //  }
  //}

}


@media screen and (max-width: $responsive-1500){

  header.site-header {
    .header-wrap {
      padding: 15px 18px;
      .top-left {
        nav{
          &.header-menu {
            ul.menu {
              > li{
                padding: 18px 14px;
              }
              a{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1440){

  header.site-header {
    .header-wrap {
      .top-left {
        nav{
          &.header-menu {
            ul.menu {
              a{
                font-size: 12px;
              }

              > li {
                .sub-menu {
                  width: 360px;
                  li{
                    padding: 7px 20px 7px 30px;
                  }
                }
              }

            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-1366){

  header.site-header {
    .header-wrap {
      .top-right {
        .header-phone {
          .hp-top{
            line-height : 20px;
          }
          .hp-bottom {
            .hpb-icon {
              i{
                font-size: 22px;
              }
            }
            .hpb-phone{
              padding-left: 6px;
              font-size: 24px;
            }
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-1280){

  header.site-header {
    .header-wrap {
      padding: 15px 30px 15px 18px;
      .top-left {
        nav.header-menu {
          display: none;
        }
      }
      .top-right {
        @include flex(flex, row, nowrap, ai_center, jc_start);
        .navbars{
          padding-left: 50px;
          display: block;
          cursor: pointer;
          i{
            &:before{
              font-size: 38px;
            }
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-760){

  .header-fixed-background {
    height: 88px;
  }

  header.site-header {
    .header-wrap {
      padding: 8px 30px 8px 18px;
      .top-left {
        .logo{
          img{
            max-width: 116px;
          }
        }
      }

    }
  }

}



@media screen and (max-width: $responsive-550){

  .header-fixed-background {
    height: 74px;
  }

  header.site-header {
    .header-wrap {
      padding: 10px 30px 10px 18px;
      .top-left {
        .logo{
          img{
            max-width: 86px;
          }
        }
      }

      .top-right {
        .header-phone {
          .hp-top{
            font-size: 10px;
            font-weight:800;
          }
          .hp-bottom {
            .hpb-icon {
              i{
                font-size: 22px;
              }
            }
            .hpb-phone{
              padding-left: 6px;
              font-size: 18px;
            }
          }
        }

        .navbars {
          padding-left: 40px;
          i:before{
            font-size: 33px;
          }
        }
      }


    }
  }

}