
$white  : #ffffff;
$white2 : #fdfdfd;
$white3 : #fbfbfb;

$black : #000000;
$black1 : #121212;

$grey-dark1 : #333333;
$grey1 : #909090;
$grey2 : #4f4f4f;
$grey3  : #231f20;
$grey4 : #424242;
$grey5 : #f1efee;
$grey6 : #d1d1cf;

$blue : #1b2c5e;

$green : #00f9d7;
$green-shadow : #00393e;

$red : #ed2227;
$red-rbg : rgb(237,34,39);

$breakpoints: (
        desktop: 1700px,
        laptop: 1440px,
        tablet: 1024px,
        phone: 855px,
);


$responsive-1580 : 1580px;
$responsive-1500 : 1500px;
$responsive-1440 : 1440px;
$responsive-1366 : 1366px;
$responsive-1300 : 1300px;
$responsive-1280 : 1280px;
$responsive-1200 : 1200px;
$responsive-1100 : 1100px;
$responsive-1024 : 1024px;
$responsive-960 : 960px;
$responsive-840 : 840px;
$responsive-800 : 800px;
$responsive-768 : 768px;
$responsive-760 : 760px;
$responsive-700 : 700px;
$responsive-650 : 650px;
$responsive-600 : 600px;
$responsive-550 : 550px;
$responsive-500 : 500px;
$responsive-480 : 480px;
$responsive-400 : 400px;




