.btn-wrapper{
  margin-top: 30px;
  .btn{
    padding: 15px 30px;
    background-color: $black1;
    color: $white;
    @include transition();
    @include font-montserrat();
    font-size: 12px;
    font-weight:600;

    &:hover{
      background-color: $red;
    }

    &.white{
      border: 3px solid $white;
      background: none;
      color: $white;
      &:hover{
        background-color: $white;
        color: $black;
      }
    }
  }
}


.link-wrapper{
  a{
    color: $red;
    font-weight:900;
    font-size: 12px;
  }
}