.hpaw-container{
  width: 100%;
  padding: 100px 0 100px;
  position: relative;
  .hpaw-content{
    @include width-center(1360px, 0 90px);
    h6.top-title{
      font-size: 12px;
      letter-spacing: 1px;
      color: $grey4;
      margin-bottom: 60px;
    }
    h2{
      color: $grey3;
      font-weight:700;
      //position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 153px;
        width: 11%;
        height: 87px;
        background: $red;
      }
    }
    .hpaw-steps-wrapper{
      margin: 70px -48px 40px;
      @include flex(flex, row, nowrap, ai_start, jc_start);
      .hpaw-step-container{
        width: 33.33%;
        .step-inner{
          padding: 0 48px;
          i{
            font-size: 58px;
            color: $red;
          }
          h6{
            font-weight: 800;
          }
          p{
            @include font(16px , 12px);
          }
        }
      }
    }
  }
}


@media screen and (max-width: $responsive-1580){

  .hpaw-container {
    .hpaw-content {
      @include width-center(1140px, 0 50px);
      .hpaw-steps-wrapper{
        margin: 60px -30px 40px;
        .hpaw-step-container{
          .step-inner{
            padding: 0 30px;
            p{
              @include font(14px, 8px);
            }
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1366){

  .hpaw-container {
    .hpaw-content {
      h2{
        &:before{
          width: 108px;
        }
      }
      @include width-center(1040px, 0 50px);
    }
  }

}




@media screen and (max-width: $responsive-1024){

  .hpaw-container {
    .hpaw-content {
      h2{
        &:before{
          width: 40px;
        }
      }
      @include width-center(900px, 0 50px);

      .hpaw-steps-wrapper{
        margin: 60px -20px 40px;
        .hpaw-step-container{
          .step-inner{
            padding: 0 20px;
          }
        }
      }

    }
  }

}



@media screen and (max-width: $responsive-840){

  .hpaw-container {
    .hpaw-content {
      text-align: center;
      h2{
        &:before{
          display: none;
        }
      }
      h6.top-title{
        margin-bottom: 20px;
      }

      .hpaw-steps-wrapper{
        margin-bottom: 90px;
        .hpaw-step-container{
          .step-inner{
            .si-wrapper{
              @include width-center(500px, 0px);
              text-align: center;
              h6{
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      
      
      .btn-wrapper{
        text-align: center;
      }

    }
  }

}