
.map-container{
  margin-top: 70px;
  position: relative;
  overflow: hidden;
  .map-location{
    height: 690px;
    width: 100%;
  }
  .map-address{
    //display: none;
    position: absolute;
    width: 328px;
    //height: 397px;
    top: 22%;
    background: $white;
    right: 0;

    .ma-top{
      background: $red;
      padding: 25px 35px;
      p{
        color: $white;
        font-size: 18px;
      }
    }

    .ma-bottom{
      padding: 40px 35px 35px;
      position: relative;
      height: 320px;
      h6{
        margin-bottom: 20px;
        padding-bottom: 7px;
        font-size: 17px;
        font-weight:700;
        border-bottom: 1px solid $grey6;
      }
      .map-store-address{
        padding-right: 10%;
        font-size: 16px;
        margin-bottom: 23px;
      }

      .map-phone{
        @include flex(flex, row, nowrap, ai_center, jc_start);
        i{
          font-size: 18px;
          color: $red;
          margin-right: 10px;
          font-weight: 700;
        }
        .mp-phone{
          font-size: 17px;
          font-weight:700;
        }
      }

      .map-info-note{
        position: absolute;
        bottom: 35px;
        left: 35px;
        font-size: 14px;
        color: $grey1;
      }
    }

  }
}




@media screen and (max-width: $responsive-1024){

  .map-container {
    .map-location{
      height: 525px;
    }
    .map-address{

      position: relative;
      width: 328px;
      margin: 0 auto 75px;
      @include gradient(0px 6px 20px -14px);

    }
  }

}



@media screen and (max-width: $responsive-768){

  .map-container {
    .map-location{
      height: 410px;
    }
  }

}