
.services-slider-container{
  margin-top: -165px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 690px;

  .grey-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 280px;

    left: 0px;
    top:0px;
    background: $white;
    h6{
      padding: 40px 0 0 90px;
      color: $grey2;
      font-size: 13px;
      letter-spacing: 1px;
    }
  }


  .service-slider-outer-container{
    position: relative;
    margin: 100px 0 0 370px ;
    width: 100%;



    .service-slider-wrapper{
      width: 1300px;
      margin: 0 -15px;
      .service-slider{
        position: relative;
        padding: 0 15px;
        outline: none;
        border: none;
        &:focus,&:active {outline:0;}


          .ss-inner{
            @include transition();
            position: relative;
            cursor: pointer;
            height: 520px;
            overflow: hidden;
            @include bg-cover();
            .ss-gradient{
              @include posa();
              @include transition();
              background: $blue;
              opacity: 0.7;
              z-index: -1;
            }
            .ss-content{
              @include posa();
              height: auto;
              top: auto ;
              bottom: 0;
              padding: 75px;
              h2,p{
                color: $white;
              }
              h2{
                width: 100%;
                padding-right: 100px;
                position: relative;
                color: $white;
                margin-bottom: 35px;
                &:after{
                  @include hover-underline();
                  top:auto;
                  height: 4px;
                  bottom: -15px;
                  background-color: $white;
                }
              }
              p{
                font-size: 16px;
                font-weight:400;
              }
            }

            &:hover{
              margin-top: -30px;
              .ss-gradient{
                background: $red;
              }
              .ss-content{
                h2{
                  &:after{
                    width: 100%;
                  }
                }
              }
            }

            .overlay-link{
              @include posa();
            }

          }
      }
      .slick-list{
        overflow: visible;
      }
    }
  }



}



@media screen and (max-width: $responsive-1580){
  .services-slider-container {
    .grey-layer{
      margin-left: 200px;
    }
    .service-slider-outer-container{
      margin: 100px 0 0 290px;
    }
  }
}




@media screen and (max-width: $responsive-1366){
  .services-slider-container {
    height: 605px;
    .grey-layer{
      margin-left: 120px;
      h6{
        padding-left: 80px;
      }
    }

    .service-slider-outer-container{
      margin: 100px 0 0 200px;
      .service-slider-wrapper {
        width: 1050px;
        margin: 0 -10px;
        .service-slider {
          padding: 0 10px;
          .ss-inner{
            height: 428px;
            .ss-content {
              h2{
                padding-right: 0px;
              }
            }
          }
        }
      }
    }
  }


}






@media screen and (max-width: $responsive-1024){
  .services-slider-container {
    height: 545px;
    .grey-layer{
      margin-left: 90px;
      h6{
        //padding-left: 80px;
      }
    }
    .service-slider-outer-container{
      margin: 100px 0 0 170px;
      .service-slider-wrapper {
        width: 465px;
        .service-slider {
          .ss-inner{
            height: 368px;
            .ss-content {
              padding: 60px;
              h2{
                padding-right: 58px;
              }
            }
          }
        }
      }
    }
  }


}


@media screen and (max-width: $responsive-760){
  .services-slider-container {
    height: 545px;
    margin-top: -90px;
    .grey-layer{
      margin-left: 70px;
      h6{
        padding-left: 70px;
      }
    }

    .service-slider-outer-container{
      margin: 100px 0 0 140px;
      .service-slider-wrapper {
        //width: 880px;
        .service-slider {
          .ss-inner{
            height: 368px;
            .ss-content {
              //padding: 60px;
              h2{
                //padding-right: 58px;
              }
            }
          }
        }
      }
    }
  }


}



@media screen and (max-width: $responsive-650){
  .services-slider-container {
    margin-top: 0px;
    height: 465px;
    .grey-layer{
      margin-left: 0px;
    }
    .service-slider-outer-container {
      margin: 100px 0 0 70px;
      .service-slider-wrapper {
        width: 410px;
        .service-slider {
          .ss-inner {
            height: 285px;
            .ss-content{
              padding: 60px 60px 40px 40px;
              h2{
                margin-bottom: 27px;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: $responsive-500){
  .services-slider-container {
    height: 425px;
    .service-slider-outer-container {
      .service-slider-wrapper {
        width: 320px;
        .service-slider {
          .ss-inner {
            height: 245px;
            .ss-content{
              h2{
                //margin-bottom: 27px;
                padding-right: 48px;
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: $responsive-400){
  .services-slider-container {
    height: 425px;
    .grey-layer{
      h6{
        padding-left: 40px;
      }
    }
    .service-slider-outer-container {
      margin: 100px 0 0 40px;
      .service-slider-wrapper {
        width: 305px;
        .service-slider {
          .ss-inner {
            height: 245px;
            .ss-content{
              padding: 60px 60px 30px 30px;
              h2{
                //margin-bottom: 27px;
                padding-right: 28px;
              }
            }
          }
        }
      }
    }
  }
}