
.testimonial-top-container{
  position: relative;
  margin: 150px 0 70px;
  .tt-content{
    @include width-center(760px, 0 40px);
    text-align: center;
  }

  &:before{
    @include transform(rotate(180deg));
    color: $red;
    font-size: 95px;
    position: absolute;
    top:-130px;
    left: 47%;
    font-family: "Material Icons";
    content: "format_quote";
  }
}


.testimonial-container{
  @include width-center(1340px, 0px 40px 100px);
  .testimonial-wrapper{
    @include flex(flex, row, nowrap, ai_start, jc_start);
    margin: 0 -13px;
    .testimonial-single-container{
      width: 33.33%;
      padding: 0 13px;
      .ts-content{
        position: relative;
        text-align: center;
        background-color: $white;
        border: 1px solid $grey5;
        padding: 50px 40px 70px;
        min-height: 328px;
        @include gradient(0px 6px 20px -14px);
        i{
          color: $red;
          font-size: 46px;
          margin-bottom: 15px;
        }
        p{
          color: $grey4;
          font-weight: 600;
        }
        h6{
          font-weight:500;
          color: $grey1;
          font-size: 18px;
          position: absolute;
          bottom: 45px;
          text-align: center;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}





@media screen and (max-width: $responsive-1366){

  .testimonial-container {
    @include width-center(1160px, 0px 40px 100px);
    .testimonial-wrapper {
      .testimonial-single-container {
        .ts-content {
          min-height: 300px;
          padding: 50px 35px 70px;
          p{
            @include font(15px , 8px);
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-1024){

  .testimonial-container {
    @include width-center(920px, 0px 40px 80px);
    .testimonial-wrapper {
      margin: 0 -8px;
      .testimonial-single-container {
        padding: 0 8px;
        .ts-content {
          min-height: 270px;
          padding: 40px 25px 50px;
          p{
            @include font(12px , 7px);
          }
          h6{
            font-size: 15px;
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-768){

  .testimonial-top-container{
    margin: 140px 0 70px;
    &:before{
      top: -115px;
      font-size: 87px;
      left: 44%;
    }
  }

  .testimonial-container {
    .testimonial-wrapper {
      .testimonial-single-container {
        .ts-content {
          i{
            font-size: 35px;
          }
        }
      }
    }
  }

}




@media screen and (max-width: $responsive-700){


  .testimonial-container {
    .testimonial-wrapper {
      max-width:380px;
      margin: 0 auto;
      .testimonial-single-container{
        .ts-content{
          @include gradient(0px 0px 00px 0px);
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-500){


  .testimonial-top-container{
    margin: 105px 0 70px;
    &:before{
      top: -98px;
      font-size: 73px;
      left: 42%;
    }
  }

}