
.two-section-banner-container{
  width: 100%;
  @include flex(flex, row, nowrap, ai_center, jc_start);
  .single-banner-panel{
    @include bg-cover();
    position: relative;
    width: 50%;
    height: 825px;
    .b-gradient{
      @include active-overlay();
      background-color: $red-rbg;
      opacity: 0.75;
      &.blue{
        background-color: $blue;
      }
      &.none{
        background: none;
      }
    }
    .sbp-wrapper{
      position: relative;
      height: 100%;
      width: 100%;
      @include flex(flex, row, wrap, ai_center, center);
      .sbp-content{
        text-align: center;
        @include width-center(530px, 0 20px);
        h1,h2,h3,h4,h5,h6,p{
          color: $white;
          text-transform: uppercase;
        }
        h1,h2,h3{
          font-weight: 800;
          line-height: 50px;
          margin-bottom:25px;
        }
        p{
          font-weight: 400;
        }
        &.large{
          @include width-center(640px, 0 20px);
        }
      }
    }
  }
}





@media screen and (max-width: $responsive-1366){

  .two-section-banner-container {
    .single-banner-panel {
      height: 666px;
      .sbp-wrapper {
        .sbp-content{
          h1,h2,h3{
            //line-height: 34px;
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-1024){

  .two-section-banner-container {

    .single-banner-panel {
      height: 485px;
      .sbp-wrapper {
        .sbp-content{
          h1,h2,h3{
            line-height: 36px;
          }
        }
      }
    }
  }

}



@media screen and (max-width: $responsive-768){

  .two-section-banner-container {

    .single-banner-panel {
      height: 485px;
      .sbp-wrapper {
        .sbp-content{
          h1,h2,h3{
            margin-bottom: 18px;
            line-height: 32px;
          }
        }
      }
    }
  }

}


@media screen and (max-width: $responsive-650){

  .two-section-banner-container {
    @include flex(flex, row, wrap, ai_center, jc_start);
    .single-banner-panel {
      width: 100%;
      height: 300px;
      .sbp-wrapper {
        .sbp-content{
          max-width: 400px !important;
          h1,h2,h3{
            //margin-bottom: 18px;
            //line-height: 32px;
          }
        }
      }
    }
  }

}
