
.width-container-1000{
  width: 100%;
  background: $white;
  padding: 160px 0 170px;
  .wc1000-content{
    text-align: center;
    @include width-center(960px, 0 40px);
    p{
      font-size: 20px;
      @media screen and (max-width: $responsive-1366){
        font-size: 14px;
      }
    }
  }
}



@media screen and (max-width: $responsive-1366){
  .width-container-1000{
    .wc1000-content{
      @include width-center(800px, 0 40px);
    }
  }
}


@media screen and (max-width: $responsive-1024){
  .width-container-1000{
    padding: 110px 0 120px;
    .wc1000-content{
      @include width-center(680px, 0 40px);
    }
  }
}



@media screen and (max-width: $responsive-600){
  .width-container-1000{
    padding: 80px 0 90px;
    .wc1000-content{
      @include width-center(680px, 0 40px);
    }
  }
}