
.width-container-1360{
  width: 100%;
  padding: 180px 0 340px;
  .wc1360-content{
    //@include width-center(1360px, 0 23% 0 90px);
    @include width-center(100%, 0 23% 0 370px);

    @media screen and (max-width: $responsive-1580){
      @include width-center(100%, 0 22% 0 290px);
    }

    a{
      color: $red;
    }

    h1{
      font-weight: 800;
    }
  }
}


@media screen and (max-width: $responsive-1366){


  .width-container-1360{
    padding: 140px 0 300px;
    .wc1360-content{
      @include width-center(100%, 0 22% 0 200px);
    }
  }

}


@media screen and (max-width: $responsive-1024){


  .width-container-1360{
    .wc1360-content{
      @include width-center(100%, 0 22% 0 170px);
    }
  }

}


@media screen and (max-width: $responsive-760){

  .width-container-1360{
    padding: 110px 0 180px;
    .wc1360-content{
      padding: 0 70px;
    }
  }
}


@media screen and (max-width: $responsive-650){
  .width-container-1360{
    padding: 60px 0;
    .wc1360-content{
      padding: 0 38px;
      text-align: center;
    }
  }
}